<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--	其余配置将由applicationContext文件配置，及由spring来整合mybatis-->
	<!-- 别名 -->
	<typeAliases>
		<package name="com.blog.entity"/>
	</typeAliases>
</configuration>
